@import "@styles/variables.scss";

.input {
  @include text(500, 18px, 180%, $paragraph-color);

  filter: drop-shadow(0px 4px 120px rgba(175, 173, 181, 0.15));
  box-shadow: 0px 4px 120px rgba(175, 173, 181, 0.15);

  width: 300px;
  height: 84px;
  padding-left: 29px;
  border: none;
  outline: none;

  @media (max-width: 1240px) {
    height: 54px;
  }

  &:focus {
    border: 1px solid $smaltblue;
  }

  &_disabled {
    opacity: 0.7;
  }
}
