@import "@styles/variables.scss";

.input {
  @include text(500, 18px, 180%, $color-paragraph);

  filter: drop-shadow(0px 4px 120px $color-box-shadow);
  box-shadow: 0px 4px 120px $color-box-shadow;

  width: 300px;
  height: 84px;
  padding-left: 29px;
  border: none;
  outline: none;

  @media (max-width: 1240px) {
    font-size: 14px;
    height: 54px;
    box-shadow: 0px 4px 80px $color-box-shadow;
  }

  &:focus {
    border: 1px solid $color-main;
  }

  &_disabled {
    opacity: 0.7;
  }
}
