@import "@styles/variables.scss";

.button {
  @include text(700, 18px, 130%, white);
  width: 138px;
  height: 54px;
  text-align: center;
  border: none;
  cursor: pointer;

  @media (max-width: 1240px) {
    width: 100px;
    height: 38px;
    font-size: 14px;
  }

  &_color {
    &-primary {
      background-color: $smaltblue;

      &:hover {
        opacity: 0.7;
      }
    }

    &-secondary {
      background-color: white;
      color: $text-color;
      border: 2px solid #f3f3f3;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &_disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: #d9d9d9;
    cursor: default;
  }
}

.loader {
  border-color: white;
  border-bottom-color: transparent;
}
