@import "@styles/variables.scss";

.counter {
  @include text(700, 16px, 130%);
  padding: 4px 16px;
  color: $color-main;
  background-color: $color-placeholder;
  border-radius: 20px;

  @media (max-width: 1240px) {
    font-size: 12px;
    padding: 2px 10px;
    background-color: $color-line;
  }
}
