@import "@styles/variables.scss";

$color-border-bottom: #f3f3f3;

.header {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 120px;
  border-bottom: 1px solid $color-border-bottom;

  &__logoTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    @media (max-width: 1240px) {
      gap: 9px;
    }
  }

  &__logo {
    width: 42px;
    height: 42px;

    @media (max-width: 1240px) {
      width: 32px;
      height: 32px;
    }
  }

  &__title {
    width: 76px;
    height: 18px;

    @media (max-width: 1240px) {
      width: 58px;
      height: 14px;
    }
  }

  &__nav {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 60px;
  }

  &__link {
    @include text(500, 18px, 180%);

    &_active {
      @include text(500, 18px, 180%);

      display: flex;
      align-items: center;
      height: 100%;
      border-bottom: 3px solid $smaltblue;

      &:visited {
        color: $text-color;
      }
    }
  }

  &__icons {
    display: flex;
    gap: 30px;
  }

  &__nav,
  &__icons {
    @media (max-width: 1240px) {
      display: none;
    }
  }
}
