$color-main: #518581;
$color-text: #151411;
$color-paragraph: #afadb5;
$color-star-on: #ffb800;
$color-star-off: #ccc;
$color-screen: #ffffff;
$color-placeholder: #f9f9f9;
$color-line: #f3f3f3;
$color-bg-disabled: #d9d9d9;
$color-box-shadow: rgba(175, 173, 181, 0.15);

@mixin container($p-top: 0) {
  padding: $p-top calc(50% - 620px) 0;

  @media (max-width: 1240px) {
    padding: calc($p-top / 2) calc(50% - 163.5px) 0;
  }
}

@mixin text($font-w, $font-s, $line-h, $text-c: $color-text) {
  font-weight: $font-w;
  font-size: $font-s;
  line-height: $line-h;
  color: $text-c;
}
