@import "@styles/variables.scss";

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 394px;
  gap: 26px;

  @media (max-width: 1240px) {
    max-width: 156px;
  }

  &__image {
    margin: auto;
    max-width: 394px;
    max-height: 360px;
    cursor: pointer;

    @media (max-width: 1240px) {
      max-width: 156px;
      max-height: 130px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }

  &__category {
    @include text(700, 18px, 130%, $paragraph-color);

    @media (max-width: 1240px) {
      font-size: 12px;
      line-height: 180%;
    }
  }

  &__title {
    @include text(700, 26px, 130%);
    letter-spacing: 0.01em;
    cursor: pointer;

    @media (max-width: 1240px) {
      font-size: 14px;
    }
  }

  &__subtitle {
    @include text(500, 18px, 180%, $paragraph-color);

    @media (max-width: 1240px) {
      font-size: 12px;
    }
  }

  &__content {
    @include text(700, 24px, 130%);
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1240px) {
      font-size: 14px;
    }
  }
}
