@import "@styles/variables.scss";

.relatedItems {
  @include text(700, 32px, 130%);
  padding-top: 50px;

  @media (max-width: 1240px) {
    padding-top: 100px;
  }

  &__list {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 26px 28px;

    @media (max-width: 1240px) {
      gap: 26px 14px;
    }
  }
}
