@import "@styles/variables.scss";

.product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;

  &__image {
    max-width: 600px;
    max-height: 600px;

    @media (max-width: 1240px) {
      max-width: 327px;
      max-height: 327px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 590px;
    padding-top: 2px;
  }

  &__title {
    @include text(700, 44px, 130%);

    @media (max-width: 1240px) {
      font-size: 24px;
    }
  }

  &__subtitle {
    @include text(500, 18px, 180%, $paragraph-color);
    padding-top: 10px;

    @media (max-width: 1240px) {
      font-size: 14px;
      padding-top: 4px;
    }
  }

  &__rating {
    @include text(700, 44px, 130%);
    padding-top: 30px;

    @media (max-width: 1240px) {
      font-size: 24px;
      padding-top: 20px;
    }
  }

  &__description {
    @include text(500, 18px, 180%, $paragraph-color);
    padding-top: 20px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    @media (max-width: 1240px) {
      font-size: 14px;
    }
  }

  &__price {
    @include text(700, 44px, 130%);
    padding-top: 30px;

    @media (max-width: 1240px) {
      padding-top: 16px;
      font-size: 24px;
    }
  }
}
