@import "@styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  border-bottom: 1px solid #f3f3f3;
  max-height: 200px;
  background-color: $smaltblue;
}
