@import "@styles/variables.scss";

.header {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 120px;
  border-bottom: 1px solid #f3f3f3;

  &__logoTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    @media (max-width: 1240px) {
      gap: 9px;
    }
  }

  &__logo {
    width: 42px;
    height: 42px;

    @media (max-width: 1240px) {
      width: 32px;
      height: 32px;
    }
  }

  &__title {
    width: 76px;
    height: 18px;

    @media (max-width: 1240px) {
      width: 58px;
      height: 14px;
    }
  }

  &__nav {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 60px;
  }

  &__link {
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: $black;

    &_active {
      border-bottom: 3px solid $smaltblue;
    }
  }

  &__icons {
    display: flex;
    gap: 30px;
  }

  &__nav,
  &__icons {
    @media (max-width: 1240px) {
      display: none;
    }
  }
}
