.search {
  position: relative;

  &__input {
    background-image: url("@assets/images/search-icon.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 26px;
    background-size: 32px 32px;

    width: 1020px;
    padding-left: 76px;

    @media (max-width: 1240px) {
      background-position-x: 14px;
      background-size: 24px 24px;

      width: 326px;
      padding-left: 50px;
    }
  }

  &__button {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: 1240px) {
      right: 8px;
    }
  }
}
