@import "@styles/variables.scss";

.menu,
.menu__popup {
  filter: drop-shadow(0px 4px 120px rgba(175, 173, 181, 0.15));
  box-shadow: 0px 4px 120px rgba(175, 173, 181, 0.15);
}

.menu {
  position: relative;
  display: none;

  @media (max-width: 1240px) {
    display: block;
  }

  &__popup {
    position: absolute;
    top: 25px;
    right: 0;
  }

  &__link,
  &__link_active {
    width: 100px;
    height: 38px;
    @include text(400, 14px, 16px);
    background-color: $color-screen;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link_active {
    color: $smaltblue;
  }

  &__button,
  &__button_open {
    height: 21px;
    position: relative;
    width: 22.5px;

    .line {
      width: 100%;
      height: 2px;
      background: $text-color;
      transition: 0.3s all ease;
      border-radius: 2px;

      &__top {
        position: absolute;
        left: 0;
        top: 0;
      }

      &__mid {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }

      &__bot {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }

  &__button_open {
    .line {
      &__top {
        transform: translateY(8px) rotate(45deg);
        transition: 0.3s all ease;
      }
      &__mid {
        opacity: 0;
        transition: 0.3s all ease;
      }
      &__bot {
        transform: translateY(-11px) rotate(-45deg);
        transition: 0.3s all ease;
      }
    }
  }
}
