@import "@styles/variables.scss";

.menu,
.menu__popup {
  filter: drop-shadow(0px 4px 120px $color-box-shadow);
  box-shadow: 0px 4px 120px $color-box-shadow;
}

.menu {
  position: relative;

  @media (min-width: 1240px) {
    display: none;
  }

  &__popup {
    position: absolute;
    top: 24px;
  }

  &__link {
    width: 100px;
    height: 38px;
    @include text(400, 14px, 16px);
    background-color: $color-screen;
    display: flex;
    align-items: center;
    justify-content: center;

    &_active {
      color: $color-main;
    }
  }

  &__button {
    height: 20px;
    width: 20px;
    position: relative;

    .line {
      width: 100%;
      height: 2px;
      background: $color-text;
      transition: 0.3s all ease;
      border-radius: 2px;

      &__top {
        position: absolute;
        left: 0;
        top: 0;
      }

      &__mid {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }

      &__bot {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    &_open {
      .line {
        &__top {
          transform: translateY(8px) rotate(45deg);
          transition: 0.3s all ease;
        }
        &__mid {
          opacity: 0;
          transition: 0.3s all ease;
        }
        &__bot {
          transform: translateY(-10px) rotate(-45deg);
          transition: 0.3s all ease;
        }
      }
    }
  }
}
